.content {
    .sidebar {
        height: 100%;
    }
    .alert-light {
        background-color: #ccc;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: 0.25rem;
        color: #000;
        margin: 0 0 24px 0;
    }
}