header {
    background-color: #000000;

    .navbar-dark {
        .navbar-nav {
            .nav-link {
                text-decoration: underline;
                color: #fff;
            }
        }
    }
}